@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

a {
  &:link, &:visited, &:hover,&:active {
    color: #d03c56;
    text-decoration: none;
  }
}

/* --------------------------------
 * parts
 * -------------------------------- */

.clearfix::after { //clearfixを用いた直後の要素に関するクラス,
  content: '';
  display: block;
  //CSSで左右幅などのスタイル指定を行っていない状態でブラウザのウィンドウの左右いっぱいに表示され、さらにブロック要素の前後に改行が入るのが特徴
  //ブロック要素同士は横に並ばず縦に重なる
  clear: both; //floatの解除
}
.heading {
  padding: 10px 12px;
  background: url('bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

/* --------------------------------
 * header
 * -------------------------------- */

.header {
  width: 100%;
  padding: 28px 0 10px;
  margin: 0 auto; //左右のmarginを自動調整によって真ん中寄せが可能に
  background: url('bg-header.gif') repeat-x; 
  //横方向に背景画像を繰り返して表示
  //repeat の状態だと縦にも繰り返されるため指定している
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('logo.png') no-repeat;
  //no-repeatを設定する理由はwidth 100%になった場合縦横に繰り返されされてsampleが多数出現する
  text-indent: 100%;
  white-space: nowrap; //半角スペース・タブ・改行の表示の仕方を指定する際に使用
  overflow: hidden; //ロゴが画像なので、テキストはブラウザに表示しないため用いる
  a { //logoの直下のaに関する記述
    display: block;
    width: 100%;  //100%でないとロゴの画像全てがリンクにならないため100%にする
    height: 100%;//100%でないとロゴの画像全てがリンクにならないため100%にする
  }
}

.global-nav {
  margin-top: 15px;
  text-align: center;
  .nav-item {
    display: inline-block;
    margin: 0 10px;
    a {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 8px;
      color: #666;
      font-size: 1.3rem;
      letter-spacing: 1px;
      transition: 0.15s;
    }
    &.active a, a:hover {  //visitedにすると訪問したのしか背景色が変化しない
      background-color:#ff0099;
      color: #fff;
    }
  }
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.hot-topic {
  display: block;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15); //画像の透明化
  transition: opacity 0.15s;
  
  &:hover {
    opacity: 0.85;
  }

  .image {
    float: left;
    width: 50%;
    height: 100%;
  }

  .content {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0; //上が空いてるのはこれが理由
    background-color: #7399D1;
    line-height: 1.6;
  }

  .title {
    margin-bottom: 15px;
    color: #fff;
    font-weight: normal;
    font-size: 2.0rem; //どれの2倍なのか
  }

  .desc {
    color: #ddc;
  }

  .date {
    position: absolute; //日付の位置は.contentの中で決まっているので絶対そこに表示したい
    top: 60px; //topプロパティは、ボックスを配置する場合の、上からの配置位置（距離）を指定
    left: 0;
    width: 140px;
    padding: 4px;
    background-color: #fff;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
  }
}

.scroll-list {
  max-height: 220px;  //list要素が多すぎる場合、死ぬほど縦長になる
  overflow-y: auto;  //はみ出た部分の表示に関する
  margin-bottom: 30px;
  list-style-type: none; //デフォルトのリストタグの点を消す
  
  .scroll-item {
    a {
      display: block;
      padding: 10px 15px;
      color: #333;
      font-size: 0;
      transition: background-color 0.1s;
    }

    &:nth-of-type(even) a { //sassの関数調べる
      background: url('bg-slash.gif');
    }

    a:hover {
      background-color: #fafaf8;
    }
  }

  .date {
    display: inline-block;
    width: 19%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;
  }

  .category {
    display: inline-block;
    width: 8%;
    border-radius: 5px;
    background-color: #d03c56;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    line-height: 16px;
    &.news {
      background-color: #2c3c53;
    }
  }
  .title {
    display: inline-block;
    width: 73%;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
  }
}
.article-box {
  position: relative;
  display: block;
  width: 315px;
  height: 360px;
  margin-bottom: 30px;
  padding: 210px 15px 0;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s;
  &:hover {
    opacity: 0.8;
  }
  &:nth-of-type(odd) {
    float: left;
  }
  &:nth-of-type(even) {
    float: right;
  }
  .title {
    margin-top: 30px;
    color: #555;
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .desc {
    margin-top: 5px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .date {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: block;
    width: 160px;
    padding: 4px;
    background-color: #b5d264;
    color: #2d3d54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.sidemenu {
  float: right;
  width: 275px;
}
.ranking {
  margin-bottom: 30px;
  list-style-type: none;
  counter-reset: ranking;
  .ranking-item {
    margin-top: 15px;
    a {
      display: block;
      font-size: 0;
      transition: opacity 0.15s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .image {
    width: 55px;
    height: 55px;
  }
  .order {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #aaa;
    vertical-align: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    &::before {
      content: counter(ranking);
      display: inline-block;
      counter-increment: ranking;
      font-size: 1.0rem;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .ranking-item {
    &:nth-of-type(1) .order, &:nth-of-type(2) .order, &:nth-of-type(3) .order {
      border: none;
      color: #fff;
      font-weight: normal;
      line-height: 18px;
    }
    &:nth-of-type(1) .order {
      background-color: #dab413;
    }
    &:nth-of-type(2) .order {
      background-color: #6e7b84;
    }
    &:nth-of-type(3) .order {
      background-color: #a0541a;
    }
  }
  .text {
    display: inline-block;
    width: 182px;
    color: #000;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
.documents {
  margin: 10px 10px 30px;
  list-style-type: none;
  ul {
    list-style-type: none;
  }
  > li {
    .title {
      margin: 15px 0;
      padding-left: 8px;
      border-left: 5px solid #d03c56;
      font-size: 1.4rem;
      line-height: 1.2;
    }
    + li {
      margin-top: 25px;
    }
    ul {
      margin: 15px;
      > li {
        margin-bottom: 15px;
        padding-left: 10px;
        background: url('arrow.gif') no-repeat left center;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
.search-box {
  padding: 15px;
  background-color: #ccc;
  font-size: 0;
  > * {
    font-size: 1.2rem;
  }
  .search-input {
    width: 205px;
    height: 26px;
    padding: 0 10px;
    border: none;
  }
  .search-button {
    width: 40px;
    height: 26px;
    border: none;
    background-color: #d03c56;
    color: #fff;
    cursor: pointer;
  }
  .text {
    margin-top: 12px;
  }
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  width: 100%;
  padding: 20px 0 30px;
  background: #2d3d54 url('bg-footer.gif');
  color: #fff;
}
.horizontal-list {
  width: 970px;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
  .horizontal-item {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
    + .horizontal-item {
      border-left: 1px solid #bbb;
    }
    a {
      border-bottom: 1px dashed #777;
      color: #bbb;
      font-size: 1.1rem;
      transition: color 0.15s;
      &:hover {
        color: #ddd;
      }
    }
  }
}
.copyright {
  margin-top: 30px;
  text-align: center;
  letter-spacing: 1px;
}
